#input_data {
    float: left;
    background: white;
    padding: 0px 30px 0px 0px;
    height: 400px;
    border: 1px solid;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#output_data {
    float: left;
    background: white;
    border: 1px solid;
    padding: 0px 30px 0px 0px;
    height: 400px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#output {
    margin-left: 10px;
    margin-top: 5px;
}

#output th {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

#output td {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}


